spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ippi_db?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Tokyo&autoReconnect=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          batch_size: 20
          fetch_size: 50
          use_national_character_set_strings: true
          charset_name: UTF-8
        physical_naming_strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        dialect: org.hibernate.dialect.MySQL8Dialect
        connection:
          collation_connection: utf8mb4_unicode_ci
          charset: utf8mb4

server:
  port: 8080
  servlet:
    context-path: /api
    encoding:
      charset: UTF-8
      enabled: true
      force: true

jwt:
  secret: eyJhbGciOiJIUzUxMiJ9eyJzdWIiOiJ0ZXN0IiwiaWF0IjoxNzAzMjAwMDAwfQpkZXYtand0LXNlY3JldC1rZXktY2hhbmdlLXRoaXMtaW4tcHJvZHVjdGlvbi1lbnZpcm9ubWVudC1ub3ctaGVsbG8td29ybGQtand0
  expiration: 86400000

logging:
  level:
    root: INFO
    com.example: DEBUG
